h1 {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #ddbe1c;
}

h2 {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #2e2e2e;
    margin-bottom: 0;
}

.card {
    background-color: #fff;
    padding: 0 20px;
    min-width: 380px;
    margin: 50px auto 10px auto;
    overflow: hidden;
    /*border: 1px solid whitesmoke;*/
    border-radius: 8px;
}

.card form {
    margin-top: 35px;
}

.card .btn {
    margin-top: 10px;
    font-weight: 700;
    border-radius: 50px;
}

#InputEmail, #inputPassword {
    padding: 5px;
    font-size: 15px;
}

.form-group button {
    font-weight: 500;
    border-radius: 20px;
    border: none;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    box-shadow: 0 2px 10px -3px #666;
    display: block;
    margin: 20px auto 5px auto;
    cursor: pointer;
}

.form-group button:hover {
    box-shadow: 0 3px 12px -3px #333;
}

.img-login {
    width: 82px;
    height: 82px;
    background-color: rgb(235, 235, 235);
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.img-login i {
    padding-top: 23px;
    font-size: 40px;
    color: #ddbe1c;
}

a.link-access {
    display: block;
    margin-top: 0;
}

.form-group a.link-access, a.link-access {
    font-weight: 500;
    font-size: 14px
}