<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light shadow" id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light btn-sidebar">
        <span class="btn-sidebar"><i class="fas fa-home icon-sidebar"></i>Home</span></a>
      <a href="#" class="list-group-item list-group-item-action bg-light">
        <span class="btn-sidebar"><i class="fas fa-tags icon-sidebar"></i>Meus Pedidos</span></a>
      <a href="#" class="list-group-item list-group-item-action bg-light">
        <span class="btn-sidebar"><i class="fas fa-shopping-basket icon-sidebar"></i>Carrinho</span></a>
      <div class="sidebar-divider"></div>
      <a href="#" class="list-group-item list-group-item-action bg-light">
          <span class="btn-sidebar"><i class="fas fa-building icon-sidebar"></i>Loja</span></a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Cuidados Pessoais</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Cosméticos</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Crianças</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Fitness</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Ofertas</a>
      <div class="sidebar-divider"></div>
      <a href="#" class="list-group-item list-group-item-action bg-light">
        <span class="btn-sidebar"><i class="fas fa-cog icon-sidebar"></i>Configurações</span></a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg bg-light border-bottom shadow-sm">
      <button class="btn-navbar btn-navbar-space" id="menu-toggle" (click)="showSidebarMenu()">
        <i class="fas fa-bars"></i>
      </button>
      <div class="navbar-right">
        <button class="btn-navbar btn-navbar-space" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-search"></i>
        </button>
        <button class="btn-navbar btn-navbar-space" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-shopping-basket"></i>
        </button>
      </div>
    </nav>
    <div class="container-fluid">
      <p>works</p>
    </div>
  </div>
</div>