.navbar-expand-lg{
    padding-bottom: 12px; 
}
/*left-side*/
#menu-toggle {
    cursor:pointer;
    display:inline-block;
    margin-top:3px;
    border:none
}
#menu-toggle, a.navbar-brand {
    background-color: transparent;
}
#menu-toggle:hover {
    color:#B0BEC5;
    transition:all .5s ease
}
#menu-toggle:active,#menu-toggle:focus {
    outline:0
}
a.navbar-brand, i {
    cursor: pointer;
}
i {
    font-size: 18px;
    padding-left: 5px;
}
i:hover{
    color: #777;
}
a.navbar-brand {
    font-size: 21px;
    padding-left: 20px;
}
/*right-side*/
ul li button{
    margin-right: 10px;
    border: none;
    background-color: transparent;
}
ul li button i {
    cursor: pointer;
    font-size: 18px;
    display: block;
}
ul li button i:hover {
    color: #666
}