<div class="d-flex" id="wrapper">
  <div id="sidebar-wrapper" class="bg-light shadow">
    <div id="sidebar" class="sidebar-heading">
      <i class="fas fa-user-circle"></i>
      <h6>Start Bootstrap</h6>
    </div>
    <ul class="list-group list-group-flush">
      <li><a routerLink="/home" class="list-group-item bg-light">
        <span class="btn-sidebar"><i class="fas fa-home icon-sidebar"></i>Início</span></a></li>
      <li><a routerLink="/carrinho" class="list-group-item bg-light">
        <span class="btn-sidebar"><i class="fas fa-shopping-cart icon-sidebar"></i>Carrinho</span></a>
      </li>
      <div class="sidebar-divider"></div>
      <li><a href="#loja-dropdown-items" class="list-group-item dropdown-toggle bg-light" data-toggle="collapse"
             aria-expanded="false">
        <span class="btn-sidebar"><i class="fas fa-building icon-sidebar"></i>Loja</span>
      </a>
        <ul id="loja-dropdown-items" class="collapse list-unstyled">
          <li><a class="list-group-item bg-light">Cuidados Pessoais</a></li>
          <li><a class="list-group-item bg-light">Cosméticos</a></li>
          <li><a class="list-group-item bg-light">Crianças</a></li>
          <li><a class="list-group-item bg-light">Fitness</a></li>
          <li><a class="list-group-item bg-light">Ofertas</a></li>
        </ul>
      </li>
      <div class="sidebar-divider"></div>
      <li><a class="list-group-item bg-light">
        <span class="btn-sidebar"><i class="fas fa-cog icon-sidebar"></i>Configurações</span></a>
      </li>
      <div class="sidebar-divider"></div>
      <li><a class="list-group-item bg-light">
        <span class="btn-sidebar"><i class="fas fa-sign-out-alt icon-sidebar"></i>Logout</span></a>
      </li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg bg-light border-bottom shadow-sm">
      <button class="btn-navbar btn-navbar-space" id="menu-toggle">
        <i class="fas fa-bars"></i>
      </button>
      <span style="margin-left: 15px; font-size: 18px;"><strong>Buy-Faster</strong></span>
      <div class="navbar-right">
        <button class="btn-navbar btn-navbar-space" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-search"></i>
        </button>
        <button routerLink="/carrinho" class="btn-navbar btn-navbar-space" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-shopping-cart"></i>
        </button>
      </div>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
