#wrapper {
  height: 100%;
  display: block;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
  z-index: 1;
}

/*sidebar*/

#sidebar-wrapper {
  z-index: 9999;
  position: fixed;
  min-height: 100vh;
  margin-left: -17rem;
  transition: margin .25s ease-out;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-header {
  padding: 20px;
  background: rgb(230, 229, 229);
}

#sidebar-wrapper .list-group {
  width: 16rem;
}

#sidebar-wrapper .list-group .list-group-item {
  font-size: 14px;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
}

.sidebar-header i {
  color: rgb(100, 100, 100);
  font-size: 35px;
  margin-bottom: 20px;
}

.sidebar-header h6 {
  margin: 0;
  color: rgb(33, 150, 243);
}

.icon-sidebar {
  margin: 0 15px 0 0;
  font-size: 16px;
  color: rgb(100, 100, 100);
}

.btn-sidebar {
  color: rgb(100, 100, 100);
  font-size: 14px;
  font-weight: 500;
}

.sidebar-divider {
  height: 0;
  margin: 0.1rem 0;
  overflow: hidden;
  border-top: 1px solid #eee;
}

/*sidebar-dropdown*/

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  color: rgb(100, 100, 100);
  transform: translateY(-50%);
}

/*sidebar-dropdown-item*/

#loja-dropdown-items li .list-group-item {
  background: whitesmoke !important;
}

#loja-dropdown-items li .list-group-item:hover {
  background: rgb(230, 229, 229) !important;
}

/*navbar*/

.navbar {
  padding: 1.2rem 1rem 1rem 1rem;
}

.btn-navbar {
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background: transparent;
  color: rgb(100, 100, 100);
}

.btn-navbar:hover {
  color: rgb(150, 150, 150);
}

.btn-navbar-space {
  margin: 5px 5px;
}

/*left side*/

.navbar-pull-left {
  margin-right: auto;
  margin-left: 0;
}

/*right-side*/

.navbar-pull-right {
  margin-right: 0;
  margin-left: auto;
}

/*==========================*/

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -16rem;
    /*position: sticky;*/
  }
}
