<div class="d-flex" id="wrapper">
  <div id="sidebar-wrapper" class="bg-light shadow">
    <div id="sidebar" class="sidebar-header">
      <i class="fas fa-user-circle"></i>
      <h6>ferzan17@gmail.com</h6>
    </div>
    <ul class="list-group list-group-flush">
      <li><a routerLink="/home" class="list-group-item bg-light">
        <span class="btn-sidebar"><i class="fas fa-home icon-sidebar"></i>Início</span></a></li>
      <li><a routerLink="/carrinho" class="list-group-item bg-light">
        <span class="btn-sidebar"><i class="fas fa-shopping-cart icon-sidebar"></i>Meu Carrinho</span></a>
      </li>
      <div class="sidebar-divider"></div>
      <li><a href="#loja-dropdown-items" class="list-group-item dropdown-toggle bg-light" data-toggle="collapse"
             aria-expanded="false">
        <span class="btn-sidebar"><i class="fas fa-store icon-sidebar"></i>Loja</span>
      </a>
        <ul id="loja-dropdown-items" class="collapse list-unstyled">
          <li><a class="list-group-item bg-light"><span class="btn-sidebar">Medicamentos</span></a></li>
          <li><a class="list-group-item bg-light"><span class="btn-sidebar">Cuidados Pessoais</span></a></li>
          <li><a class="list-group-item bg-light"><span class="btn-sidebar">Infantil</span></a></li>
          <li><a class="list-group-item bg-light"><span class="btn-sidebar">Fitness</span></a></li>
          <li><a class="list-group-item bg-light"><span class="btn-sidebar">Ofertas</span></a></li>
        </ul>
      </li>
      <div class="sidebar-divider"></div>
      <li><a class="list-group-item bg-light">
        <span class="btn-sidebar"><i class="fas fa-cog icon-sidebar"></i>Configurações</span></a>
      </li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <app-com-navbar></app-com-navbar>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
