#content-empty {
  margin-top: 80px;
}

#content-empty .form-group button {
  margin: 20px auto 15px;
  align-content: center;
  display: block;
}

#content-empty .form-group button i {
  padding-right: 10px;
}
