/*navbar*/

.navbar {
  padding: 1.2rem 1rem 1rem 1rem;
}

.btn-navbar {
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background: transparent;
  color: rgb(100, 100, 100);
}

.btn-navbar:hover {
  color: rgb(150, 150, 150);
}

.btn-navbar-space {
  margin: 5px 5px;
}

/*left side*/

.navbar-pull-left {
  margin-right: auto;
  margin-left: 0;
}

/*right-side*/

.navbar-pull-right {
  margin-right: 0;
  margin-left: auto;
}
