<nav class="navbar navbar-expand-lg bg-light border-bottom shadow-sm">
  <button class="btn-navbar btn-navbar-space" id="menu-toggle">
    <i class="fas fa-bars"></i>
  </button>
  <span style="margin-left: 15px; font-size: 18px;"><strong>Buy-Faster</strong></span>
  <div class="navbar-pull-right">
    <button class="btn-navbar btn-navbar-space" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-search"></i>
    </button>
    <button routerLink="/carrinho" class="btn-navbar btn-navbar-space" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-shopping-cart"></i>
    </button>
  </div>
</nav>
