#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}  
#sidebar-wrapper .sidebar-heading {
    color: white;
    padding: 25px;
    font-size: 20px;
    background: rgb(33, 150, 243);
}  
#sidebar-wrapper .list-group {
    width: 15rem;
}  
#page-content-wrapper {
    min-width: 100vw;
}  
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}  
.list-group-flush .list-group-item{
    border: none;
    padding: 15px 30px;
}
@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }  
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }  
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
  